## Ignore Personal API keys
api_keys.json

## Ignore data
*.csv
*.npy
*.parquet
CryptoData/*
NumeraiData/*

## Ignore everything in pycache
*__pycache__/*

## Ignore Models
*.pt
*.pth
*.pkl
*.h5

## Ignore notebooks checkpoints
.ipynb_checkpoints/